.category-banner{
    display: grid;
    grid-template-columns: 20% 80%;
}
.category-banner ul{
    padding-inline-start: 0;
}
.slick-btn{
    background: none;
    border: none;
    position: absolute;
    top: 40%;
    z-index: 5;
}
.slick-btn.slick-left{
    left: 0;
}
.slick-btn.slick-right{
    right: 0;
}
.slick-dots {
	display: flex;
	justify-content: center;
	margin: 0;
	list-style-type: none;
    position: absolute;
    bottom: 1rem;
    left: 46%;
}
.slick-dots li {
    margin: 0 0.25rem;
}

.slick-dots li button {
    display: block;
    width: 10px;
    height: 10px;
    padding: 0;
    border: none;
    border-radius: 50%;
    background-color: #b3b3b2;
    text-indent: -9999px;
}

.slick-dots li.slick-active button {
    background-color: #fff;
}
/* Menu */
.category-banner{
    position: relative;
    border-radius: 4px;
    box-shadow: 0 0 10px #eee!important;
}
.category-banner .category,.category-banner .category-list-child{
    border: 1px solid #eee;
}
.category-title{
    padding: 5px 10px;
}
.category-title p{
    font-size: 16px;
    font-weight: bold;
    color: #003189;
}
.category-list .category-item{
    padding: 5px 10px;
}
.category-item a.category-item-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #636363;
    margin-left: 1rem;
}
.category-item a.category-item-title:hover{
    color: #003189;
}
.category-item .category-list-child{
    position: absolute;
    left: 20%;
    top: 0;
    z-index: 10;
    height: 100%;
    width: 80%;
}
.category-list .category-item:hover .category-list-child{
    display: flex;
}
.mega-menu-lv-1{
    background-color: #fff;
    display: none;
    justify-content: space-between;
}
.mega-menu-lv-1 .block-right{
    max-width: 40%;
    height: 100%;
}
.block-center{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 1rem 1.5rem;
    width: 60%;
    height: fit-content;
}
.block-center .item-title{
    color: #003189;
    font-weight: 700;
    font-size: 13px;
    border-bottom: 1px solid #ababab;
}
.mega-menu-lv-2{
    margin: 0.5rem 1rem;
}
.mega-menu-lv-2 li{
    padding: 3px 0;
}
.mega-menu-lv-2 li:hover a{
    color: #003189;
}
.mega-menu-lv-2 li a{
    color: #636363;
}
.slick-slide img{
    width: 100%;
}
.block-right img{
    width: 100%;
    height: 100%;
}
/* Panel */
main .content{
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.panel{
    border-radius: 4px;
    box-shadow: 0 0 10px #eee!important;
    margin-bottom: 1rem;
}
.panel .panel-head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 15px;
}

.panel-head .panel-title .title{
    color: #003189;
    font-weight: 500;
}
.panel-head .see-more a{
    font-size: 16px;
    color: #003189;
    line-height: 1.6;
}
/* End Panel */
/* Product */
.list-product{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    border-top: solid .1rem #eee;
    border-left: solid .1rem #eee;
    border-right: solid .1rem #eee;
}
.product-item{
    padding: 1rem;
    position: relative;
    display: flex;
    flex-direction: column;
}
.product-item:before{
    content: '';
    border-bottom: solid 0.1rem #eee;
    border-right: solid 0.1rem #eee;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}
.product-item:hover{
    box-shadow: 0px 5px 10px 0px #ccc0be80;
}
.product-item .product-head .product-link img{
    width: 100%;
    height: 100%;
}
.product-name .name{
    display: block;
    hyphens: auto;
    margin: 5px 0;
    word-wrap: break-word;
    font-weight: 700;
}
.product-name .name a{
    color: #202020;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    overflow: hidden;
    -webkit-box-orient: vertical;
}
.product-price{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0.75rem 0;
}
.product-price .price-new p{
    color: #ff4332;
    font-weight: bold;
    font-size: 20px;
}
.product-price .price-old p{
    color: #ababab;
    text-decoration: line-through;
    font-size: 13px;
}
.product-bottom{
    display: flex;
    justify-content: space-between;
}
.product-cart{
    cursor: pointer;
}
.product-rate{
    display: flex;
}
.product-rate .total-rate{
    margin-left: 5px;
    color: #2767a5;
}
.product-label{
    width: 36px;
    height: 36px;
    margin-bottom: 0.8rem;
    border: 0.1rem solid;
    font-size: 1.1rem;
    background-color: #fff;
    font-weight: 700;
    color: #ff4332;
}
.product-label.product-hot,.product-label.product-new,.product-label.product-sale{
    display: flex;
    font-size: 1.3rem;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center;
    border-radius: 50%;
}
.product-label.product-hot,.product-label.product-new{
    background-color: #fff;
}
.product-label.product-hot span,.product-label.product-new span{
    font-size: 13px;
    font-weight: 700;
    color: #ff4332;
}
.product-label.product-sale{
    background-color: #ff4332;
}
.product-label.product-sale span{
    font-size: 13px;
    font-weight: 700;
    color: #fff;
}
.product-other{
    position: absolute;
}
.best-seller .product-other,.product-relate .product-other{
    top: 1rem;
    left: 1rem;
}

/* Have banner */
.panel-content.banner .list-product{
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
/* End Product */
.btn-see-all{
    display: none;
    text-align: center;
    padding: 15px;
}
.btn-see-all .see-all{
    background: #00baf2;
    border: 1px solid #00baf2;
    font-size: 15px;
    font-weight: 500;
    line-height: .73;
    padding: 12px 67px 10px;
    border-radius: 5px;
}
.see-all a{
    color: #fff;
}
/* Terms */
.terms-policy{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
}
.terms-policy-item{
    display: flex;
    align-items: center;
    padding: 2rem 0;
}
.terms-policy-item span{
    margin-left: 10px;
}
.content.category.active i,.content.category.active span{
    color: #003189;
}
@media(max-width: 1200px){
    .list-product{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}
@media(max-width: 800px){
    .category-banner{
        grid-template-columns: 25% 75%;
    }
    .mega-menu-lv-1,.category-item-title i{
        display: none !important;
    }
    .list-product{
        grid-template-columns: 1fr 1fr 1fr;
    }
    .product-label{
        font-size: 1rem;
        width: 30px;
        height: 30px;
    }
    .product-label span{
        font-size: 11px !important;
    }
    .product-price .price-new p{
        font-size: 18px;
    }
    .terms-policy{
        display: none;
    }
}
@media(max-width:500px){
    .category-banner .category{
        display: none;
    }
    .category-banner{
        display: none;
    }
    .list-product{
        grid-template-columns: 1fr 1fr;
    }
    .best-seller .product-other{
        top: 0.75rem;
        left: 0.75rem;
    }
    .product-item{
        padding: 0.75rem;
    }
    .panel-head .see-more{
        display: none;
    }
    .btn-see-all{
        display: block;
    }
    .slick-dots{
        left: 43%;
    }
    #scroll_top{
        width: 35px;
        height: 35px;
        bottom: 70px;
    }
    .icon-scroll-top{
        width: 16px;
    }
}
@media(max-width:400px){
    .price-old{
        display: none;
    }
    .product-item{
        padding: 0.5rem;
    }
    .best-seller .product-other{
        top: 0.5rem;
        left: 0.5rem;
    }
}