#thumbnail-items .slick-slide{
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #aaa;
}
#thumbnail-items .slick-track{
    transform: none !important;
}
#thumbnail-items .slick-slide img{
    opacity: 0.5;
}
#thumbnail-items .slick-slide:hover,#thumbnail-items .slick-slide.slick-current{
    border: 1px solid #003189;
}
#thumbnail-items .slick-slide.slick-current img,#thumbnail-items .slick-slide:hover img{
    opacity: 1;
}
.product-other-info{
    display: flex;
    margin: 0.5rem 0;
}
.product-other-info .boder-left{
    border-left: 1px solid #dee2e6!important;
    padding-left: 0.25rem !important;
}
.product-other-info p strong::after{
    content: ":";
}
.product-stock span{
    color: #28a745;
}
.detail-price {
    border: 0.33557px solid #D5D5D5;
    box-sizing: border-box;
    border-radius: 6.71141px;
    display: flex;
    padding: 14px 18px;
    align-items: end;
}
.detail-price p {
    font-size: 14px;
    line-height: 16px;
    text-transform: capitalize;
    color: #FE4E39;
}
.detail-price .price-new {
    font-weight: bold;
    font-size: 32.4032px;
    line-height: 38px;
    color: #FE4E39;
    margin-bottom: -5px;
}
.detail-price .price-old {
    text-decoration-line: line-through;
    color: #878787;
    margin: 0 12px;
}
.add-cart{
    margin: 1rem 0;
}
.add-cart-quantity{
    display: flex;
    align-items: center;
}
.btn-adjust {
    border: none;
    width: 27px;
    height: 27px;
    text-align: center;
    border: none;
    background: #fff;
    padding: 0;
    margin: 0 12px;
}
.btn-adjust i{
    font-size: 20px;
    color: #595959;
}
.add-cart input::placeholder, .add-cart input {
    font-weight: bold;
    font-size: 16.1074px;
    line-height: 21px;
    letter-spacing: .05em;
    color: #595959;
}
.add-cart input{
    border: 1px solid #aaa;
    max-width: 50px;
    text-align: center;
}
/* Hide Arrow */
/* Chrome, Safari, Edge, Opera */
input.quantity::-webkit-outer-spin-button,
input.quantity::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
.area-quatity{
    display: flex;
}
input.quantity{
    outline: none;
}
.btn-add-cart {
    background: #185DA0;
    border-radius: 3.3557px;
    border: none;
    line-height: 16px;
    color: #FFF;
    display: flex;
    padding: 5px 11px;
    align-items: center;
    margin-left: 1rem;
}
.btn-add-cart i {
    margin-right: 10px;
}
.add-cart form{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.other-description{
    padding: 0;
    margin-bottom: 1rem;
}
.other-description li i{
    font-size: 10px;
    color: #22D75E;
    margin-right: 5px;
}
.product-other-description .freeship img{
    max-width: 100%;
}
.product-other-description{
    padding: 0.5rem 0;
    margin: 0.5rem 0;
    border-top: 1px solid #dee2e6!important;
    border-bottom: 1px solid #dee2e6!important;
}
.contact-supplier {
    width: 100%;
    padding: 7px 40px;
    border: none;
    background: #F9971C;
    border-radius: 6.71141px;
    text-align: center;
    margin-top: 1rem;
}
.contact-supplier p {
    font-weight: bold;
    font-size: 20px;
    line-height: 28px;
    text-transform: uppercase;
    color: #FFF;
    margin-bottom: 0;
}
.contact-supplier span {
    font-size: 13px;
    line-height: 16px;
    text-align: center;
    letter-spacing: .05em;
    color: #FFF;
}
.group-btn-text .btn-text{
    background: #FBFBFB;
    border: 0.5px solid #F5F5F5;
    box-sizing: border-box;
    width: 100%;
    padding: 7px 13px;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    text-align: inherit;
    color: #211D1E;
}
.group-btn-text ul li{
    padding: 8px;
}
.group-btn-text ul li i{
    margin-right: 8px;
    color: #0f9d58;
    width: 14px;
    text-align: center;
}
.group-btn-text{
    margin-bottom: 1rem;
}
.product-rate p{
    margin-left: 0.25rem;
}
/* Detail Product */
.product-detail{
    margin-top: 3rem;
}
.title-desc h2{
    font-size: 25px;
    color: #2767A5;
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    grid-template-rows: 30px 0;
    grid-gap: 20px;
    align-items: center;
    text-transform: uppercase;
}
.title-desc h2::before,.title-desc h2::after{
    content: " ";
    display: block;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
    height: 10px;
    background-color: #dddfe6;
}
.product-detail .product-content{
    display: flex;
    justify-content: space-between;
}
.product-detail .product-content .product-desc{
    height: 30rem;
    overflow: hidden;
}
.product-detail .product-content .product-desc.show{
    height: auto;
}
.product-desc h2{
    margin-bottom: 1rem;
}
.product-detail .product-content .product-left{
    width: 65%;
    background: #FFF;
    border: 0.5px solid #D5D5D5;
    box-sizing: border-box;
    box-shadow: 0 0 10px rgb(0 0 0 / 3%);
    border-radius: 10px;
    padding: 20px;
    position: relative;
}
.product-left .product-desc::after{
    content: "";
    background: rgba(255,255,255,0);
    background: -moz-linear-gradient(top,rgba(255,255,255,0) 0%,#fff 90%);
    background: -webkit-gradient(left top,left bottom,color-stop(0%,rgba(255,255,255,0)),color-stop(90%,#fff));
    background: -webkit-linear-gradient(top,rgba(255,255,255,0) 0%,#fff 90%);
    background: -o-linear-gradient(top,rgba(255,255,255,0) 0%,#fff 90%);
    background: -ms-linear-gradient(top,rgba(255,255,255,0) 0%,#fff 90%);
    background: linear-gradient(to bottom,rgba(255,255,255,0) 0%,#fff 90%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff',endColorstr='#ffffff',GradientType=0);
    display: block;
    height: 6rem;
    bottom: 4rem;
    width: 100%;
    position: absolute;
    left: 0;
}
.product-left .product-desc.show::after{
    display: none;
}
.product-detail .product-content .product-right{
    width: 30%;
}
.product-detail .product-content .product-info{
    border: 0.5px solid #D5D5D5;
    box-sizing: border-box;
    box-shadow: 0 0 10px rgb(0 0 0 / 3%);
    border-radius: 10px;
    padding: 20px;
}
.product-info-title{
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
    color: #211D1E;
    margin-bottom: 1rem;
}

.product-info-content{
    width: 100%;
}

.product-info-content tr {
    background: #F5F5F5;
}

.product-info-content tr:nth-child(even) {
    background: #fff;
}

.product-info-content tr td:first-child {
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    color: #211D1E;
    width: 50%;
    padding: 11px 16px;
}

.product-info-content tr td:last-child{
    font-size: 14px;
    line-height: 16px;
    color: #211D1E;
}

.product-see-more{
    padding-top: 10px;
    text-align: center;
}

.product-see-more .btn-see-more{
    background: #00baf2;
    border: 1px solid #00baf2;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-weight: 700;
    margin: 0;
    padding: 12px 67px 10px;
    font-size: 15px;
    line-height: normal;
    box-sizing: border-box;
    vertical-align: middle;
}
.product-desc img{
    width: 100%;
}
/* Comment */
.product-comment{
    width: 65%;
    margin-top: 1rem;
    background: #FFF;
    border: 0.5px solid #D5D5D5;
    box-sizing: border-box;
    box-shadow: 0 0 10px rgb(0 0 0 / 3%);
    border-radius: 10px;
    padding: 9px 11px;
    position: relative;
}
.product-comment .title{
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #211D1E;
}
.rate-product{
    background: #FFF;
    border: 0.317518px solid #D5D5D5;
    box-sizing: border-box;
    box-shadow: 0 0 6.35036px rgb(0 0 0 / 3%);
    border-radius: 6.35036px;
    padding: 9px 37px;
    margin: 12px 0;
    display: flex;
}
.rate-product .rp-first {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.rp-text {
    display: flex;
    font-size: 30px;
    line-height: 41px;
    color: #FE4E39;
    margin-right: 5px;
    margin-top: 5px;
}
.icon-line{
    content: url('/icon/icon-line.png');
    margin: 25px 0;
}
.rp-last {
    width: 50%;
    padding-left: 20px;
    margin: auto;
}
.rp-last ul li {
    display: flex;
    align-items: center;
    font-size: 12px;
    line-height: 16px;
    color: #595959;
}
.icon-star-grey{
    content: url('/icon/star-grey.png');
    margin: auto 5px;
}
.bg-line-color {
    width: 60%;
    height: 5px;
    background-color: #D4D4D4;
}
.rp-last .rate-txt {
    color: #2767A5;
    margin-left: 20px;
}
.rp-last ul li:nth-child(n+2) {
    margin-top: 8px;
}

li.active .time-line-star {
    background-color: #F1BA17;
    height: 5px;
}
.rp-last .number{
    margin-top: 2px;
}
li.active .icon-star-grey {
    content: url('/icon/star-yellow.png');
}
.star-rank {
    display: flex;
    margin: 1rem 0;
}
.star-rank .txt-rank {
    font-size: 16px;
    line-height: 19px;
    color: #616161;
}
.group-rating {
    display: flex;
}
.rating-comment {
    margin-left: 10px;
}
.rating-comment input {
    display: none;
}
.rating {
    color: #d5d5d5;
}
.rating-comment>input:checked~label, .rating-comment:not(:checked)>label:hover, .rating-comment:not(:checked)>label:hover~label {
    content: url('/icon/star_rating_active.svg');
}
.rating-comment label {
    content: url('/icon/star_rating.svg');
    cursor: pointer;
}
.rating-comment>label {
    float: right;
    margin-right: 8.16px;
}
.desc-star {
    padding: 3px 5px;
    height: 20px;
    background: #00B05F;
    border-radius: 3px;
    font-size: 12px;
    line-height: 14px;
    color: #FFF;
}
#review-form{
    padding-bottom: 1rem;
    border-bottom: .635036px dashed #D5D5D5;
}
#review-form textarea{
    background: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(112,112,112,.3);
    border-radius: 12px;
    color: #444;
    font-size: 14px;
    height: auto;
    line-height: 1.42857143;
    margin: 0;
    padding: 10px;
    vertical-align: baseline;
    width: 100%;
    box-sizing: border-box;
    resize: vertical;
}

#review-form input{
    width: 100%;
    padding: 0.375rem 0.75rem;
    border-radius: 12px;
    border: 1px solid #D5D5D5;
    margin-bottom: 15px;
}

#review-form .action-submit{
    background: #2767A5;
    border: 0.5px solid #D5D5D5;
    box-sizing: border-box;
    border-radius: 10px;
    width: 100%;
    text-align: center;
    color: #fff;
    font-size: 16px;
    line-height: normal;
    padding: 7px 12px;
}
.action-toolbar{
    margin-top: .5rem;
}
.review-customer-rating{
    padding-top: 1rem;
}
.filter-star{
    display: flex;
}
.filter-star p{
    font-size: 16px;
    color: #7b7b7b;
}
.filter-star .list-filter:before{
    content: "|";
    margin: 0 .125rem 0 0.75rem ;
    font-size: 18px;
}
.filter-star .list-filter,.filter-star .list-filter ul{
    display: flex;
    align-items: center;
}
.filter-star .list-filter ul li{
    padding: 0 10px;
    cursor: pointer;
    color: #288ad6;
    font-size: 16px;
}
.filter-star .list-filter ul li.active{
    color: #003189;
    font-weight: 700;
}
.review-area{
    margin-top: 1rem;
}
.review-item{
    padding-bottom: 1rem;
}
.review-item .item-head{
    display: flex;
    margin-bottom: 0.5rem;
}
.review-item .item-name p{
    font-size: 16px;
    font-weight: 700;
}
.review-item .item-name{
    margin-right: 0.5rem;
}
.review-item .item-content{
    margin-bottom: .5rem;
}
.review-item .item-bottom{
    display: flex;
}
.review-item .item-bottom .item-like{
    margin-right: 0.5rem;
}
.review-item .item-like{
    cursor: pointer;
}
.product-relate{
    margin-top: 2rem;
}
.relate-title h3{
    font-size: 23px;
}
.relate-title{
    margin-bottom: 1rem;
}
@media(max-width : 1200px){
    .btn-add-cart{
        margin-left: 0;
        margin-top: 0.75rem;
    }
    .rate-product .rp-first{
        width: 40%;
    }
    .rp-last{
        width: 60%;
    }
}
@media(max-width: 800px){
    .product-detail .product-content{
        flex-wrap: wrap;
    }
    .product-detail .product-content .product-left,.product-detail .product-content .product-right,.product-comment{
        width: 100%;
    }
    .product .service{
        display: none;
    }
    .product-detail .product-content .product-right{
        margin-top: 1rem;
    }
}

@media(max-width : 500px){
    .product-info,.product-detail{
        margin-top: 1rem;
    }
    .product .service{
        display: block;
    }
    .rate-product{
        flex-wrap: wrap;
        justify-content: center;
    }
    .rp-first,.rp-last{
        width: 100%;
    }
    .icon-line{
        display: none;
    }
    .star-rank .txt-rank{
        font-size: 13px;
        width: 100%;
    }
    .filter-star,.filter-star .list-filter{
        flex-wrap: wrap;
    }
    .filter-star .list-filter:before{
        display: none;
    }
    .filter-star .list-filter ul li:first-child{
        padding-left: 0;
    }
    .filter-star .list-filter{
        margin-top: .5rem;
    }
    .star-rank{
        flex-wrap: wrap;
    }
    .rating-comment{
        margin-left: 0;
    }
    .group-rating{
        margin-top: .5rem;
    }
    .rate-product{
        padding: 9px;
    }
    .rp-last{
        padding: 0 10px;
    }
}
@media(max-width : 400px){
    .btn-add-cart{
        margin-top: 1rem;
        margin-left: 0;
        width: 100%;
        justify-content: center;
        padding: 7px 12px;
    }
    .detail-price .price-old{
        display: block;
    }
}
@media(max-width:325px){
    .detail-price{
        flex-wrap: wrap;
    }
    .detail-price .discount{
        margin-top: 1rem;
    }
    .rp-last{
        padding: 0;
    }
}